<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web-app-capable" content="YES" />
	<title>dhon.manalo | {% block title %}{% endblock %}</title>
	<style>
	body {
		padding-top: 60px;
		/* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	
	{% block stylesheets %}
    	<link href="{{ asset('bundles/drmblog/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    	<link href="{{ asset('bundles/drmblog/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
    	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic">
		<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic">
	{% endblock %}
	
	{% block javascripts %}
		<!--[if lt IE 9]>
      		<script src="{{ asset('js/html5.js') }}"></script>
		<![endif]-->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="{{ asset('bundles/drmblog/js/bootstrap.js') }}"></script>
		<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
		<script>
        	tinymce.init({
            	selector: "textarea",
            	plugins: "code",
            	entity_encoding: "raw"
            });
		</script>
	{% endblock %}	
	<!-- for fav and touch icons -->
	<link rel="shortcut icon" href="${ resources }ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="${ resources }ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="${ resources }ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="${ resources }ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="${ resources }ico/apple-touch-icon-57-precomposed.png">
	<link rel="icon" type="image/x-icon" href="{{ asset('bundles/drmblog/favicon.ico') }}" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		{% block navigation %}{% endblock %}
	</div>
	<div class="container">
		<div class="row-fluid">
			{% block body %}{% endblock %}
		</div>
		<div class="clearfix"></div>
	</div>
	<footer id="footer">
		<div class="container">
			{% block footer %}{% endblock %}
		</div>
	</footer>
    
</body>
</html>
