{% if comments %}
    <h3>Comments</h3>
	{% for comment in comments %}
	    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
	        <header>
	            <p><span class="highlight">{{ comment.user }}</span> commented {{ comment.created|created_ago }}</p>
	        </header>
	        <p>{{ comment.comment|raw }}</p>
	    </article>
	{% endfor %}
{% endif %}